@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.score < 8)
{
    <div class="alert alert-danger text-center" role="alert">
        Your score is <b>@ViewBag.score/10</b>. You did not pass the test.
    </div>
}
@if (ViewBag.score >= 8)
{
    <div class="alert alert-success text-center" role="alert">
        Your score is <b>@ViewBag.score/10</b>. You passed the test.
    </div>
}
<div class="text-center">
    <a class="btn btn-primary" href="/Home/EnrollLevel">Return Home</a>
</div>